# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# IDE
.idea/
.vscode/
*.iml


# UV
# uv.lock  <-- Keep this in version control usually

/output/
/models/
/static/
/images
/output
/hawp

# Model files (PyTorch)
*.pt
*.pth
*.bin
*.onnx